*.xlsx
data/raw/
.env
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.egg-info/
*.png
!figures/*.png
.pytest_cache/
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

.codex/
data/processed/
paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
